<footer>
    <div class="footer__group">
        <ul class="footer__links-social">
            <li class="footer__links-social-links"><a href="https://twitter.com/bleodejaneiro">Twitter</a></li>
            <li class="footer__links-social-links"><a href="https://www.linkedin.com/in/brad-fabian-5439b6104/">LinkedIn</a></li>
            <li class="footer__links-social-links"><a href="https://bradfabian.com">Portfolio</a></li>
          </ul>
          <ul class="footer__links-resource">
            <li class="footer__links-resource-links"><a href="https://developer.mozilla.org/en-US/">MDN</a></li>
            <li class="footer__links-resource-links"><a href="https://css-tricks.com/">CSS-Tricks</a></li>
            <li class="footer__links-resource-links"><a href="https://www.smashingmagazine.com/">Smashing Magazine</a></li>
          </ul>
            <div class="footer__group-visitor">
            <p class="footer__group-visitor-title">My Visitor Counter</p>
            <div class="footer__group-counter">
            <span class="footer__group-counter-number"></span>
            <span class="footer__group-counter-number"></span>
            <span class="footer__group-counter-number"></span>
            <span class="footer__group-counter-number"></span>
            <span class="footer__group-counter-number"></span>
            </div>
            </div>
    </div>
      
     <p class="footer__legal">Blog Designed & Developed By <a href="https://www.bradfabian.com">Fabian Web Dev</a> &copy {{ site.time | date: '%Y'}}</p>
      </footer>