.blogposts__grid-item { border: 1px solid rgba(255, 166, 0, 0.425);
    padding: 10px;
    box-shadow: 5px 10px rgba(255, 166, 0, 0.425);
    margin: 10px auto;
    max-width: 50rem;
}

.blogposts__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogposts {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
    max-width: 90rem;
}

.blogposts__grid-tags ul li{
    display: inline-block;
}

.blogposts__grid-tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}