<!doctype html>
<html>
    <head>
      <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8K4GBEVKEW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8K4GBEVKEW');
</script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>mkDirCode - {{page.title}}</title>
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
        <link rel="stylesheet" href="/assets/css/styles.css">
        {% feed_meta %}
        {% seo %}
       
    </head>
  <body>
    
   {% include navigation.html %}
    {{ content }}
    {% include footer.html%}
    
    <script src="/assets/js/app.js"></script>
  </body>
</html>