/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
    font-size: 62.5%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul a:before,
p a:before {
	color: #00dd00;
	content: ' [ ';
}

ul a:after,
p a:after {
	color: #00dd00;
	content: ' ] ';	
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body{
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  background: #383838;
	color: #00dd00;
  font-family: 'VT323', monospace;
  min-height: 100vh;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
	color: white;	
	text-decoration: none;	
  cursor: pointer;
}

a:hover {
	color: red;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea, input { outline: none; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  header {
    flex-direction: column;
  }
  
  /* CSS */
  .blogposts {
    flex-direction: column;
  }

  .about__container {
   
    margin: 20px;
  }

  .about__content {
    margin: 20px;
  }

  .about__content-img {
    max-width: 90%;
}
.blogposts__main  {
  max-width: 100% !important;
}

.blogposts__main h1 {
 text-align: center;
}

  .blogposts__featured {
    margin: 20px;
  }
.blogposts__grid-tags {
  width: 100% !important;
}
  .form-area{
    margin: 40px !important;
  }

  .footer__group {
    flex-direction: column !important;
  }

  .footer__group ul {
    padding: 0 !important;
    text-align: center;
  }

  .footer__group-visitor {
    margin: 10px 0;
  }

  .footer__legal {
    font-size: 1.4rem;
  }
}