//Font
$default-font-size: 1.6rem;

$default-logo-font-family: 'Press Start 2P', cursive;

$default-head-font-family: 'Barlow', sans-serif;
$default-subhead-font-family: 'Fraunces', serif;

$default-paragraph-font-family: 'Roboto', sans-serif;